.hometitle
{
    color:whitesmoke;
    text-align: center;
    background-color:#1e6aa8;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    height: 80px;
    width: 100vw;
}